@charset "utf-8";

body {
  margin: 0;
}

.container {
  width: 400px;
  margin: 16px auto;
}

.categoryTabs {
  display: flex;
  padding: 16px;
}

.category {
  width: calc((400px - (16px * 2) - (8px * 3)) /4);
  padding: 8px;
  background-color: white;
  border-radius: 8px;
}

.category + .category {
  margin-left: 8px;
}

.categorySelected {
  background-color: #d4e1f5;
}

h1 {
  margin: 0;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  margin-top: 16px;
}

li input:checked + span {
  color: #aaa;
  text-decoration: line-through;
}

li input {
  margin-right: 8px;
}

li label {
  background-color: aqua;
  min-width: 0;
  flex: auto; 
}

li select {
  margin: 0 8px;
}

li span {
  word-break: break-all;
}

form {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

form input {
  flex: 1;
  padding: 4px;
}